<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

    <th:block layout:fragment="addCss">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main/style.css}">
    </th:block>

    <th:block layout:fragment="addScript">
        <script th:rec="@{/js/main/common.js}"></script>
    </th:block>

<main layout:fragment="content">
    <h1>내용 영역....</h1>
</main>
</html>


<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

    </head>
    <body>
        <header th:replace="~{outlines/header::common}"></header>
        <main>
            <h1>내용...</h1>
        </main>
        <footer th:replace="~{outlines/footer::common}"></footer>
    </body>

</html>
-->