.wrapper {
    padding : 20px; 
    background-color: lightcoral;
    color: lightgreen;
    font-size : 2rem;

.highlight {
    color: blue;
    font-weight: bold;
}
}


.menus {
    background-color: lightseagreen;
}

:global .commonColor {
    color: orange;
}